.btn {
  font-weight: 700;
  letter-spacing: 3px;
  padding: 25px 50px;
  text-transform: uppercase;
  border: 1px solid $c-primary;
  text-decoration: none;
  color: $c-primary;
  transition: 0.4s ease;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  outline: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    border: 2px solid #e7f3f6;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    top: 1px;
    left: 1px;
  }

  &:hover {
    background-color: $c-primary;
    color: $c-white;
  }

  &--small {
    font-size: 14px;
    padding: 15px 30px;

    @include b-tablets {
      padding: 15px 20px;
      font-size: 12px;
    }

    @include small-phones {
      width: auto !important; //fix someone buttons
    }
  }

  @include phones {
    padding: 15px 30px;
    font-size: 14px;
  }

  @include small-phones {
    width: 100%;
  }

  @include u-l-phones {
    padding: 15px 20px;
    font-size: 12px;
  }
}
