.img-square {
  margin-left: 65px;
  margin-bottom: 65px;
  position: relative;

  img {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    left: -65px;
    bottom: -65px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &--yellow {
    &::before {
      background-color: $c-warning;
    }
  }

  &--red {
    &::before {
      background-color: $c-error;
    }
  }

  &--blue {
    &::before {
      background-color: $c-primary;
    }
  }

  &--purple{
    &::before{
      background-color: $c-purple;
    }
  }

  //importants need to overlap two-column styles (forced necessity)
  //I did not think how to do it normally

  @include tablets{
    margin-left: 0px !important;
    margin-right: 40px !important;

    &_phone{
      margin-top: 0px !important;
    }

    &-wrap{
      &_phone{
        width: 50% !important;
      }
    }
  }

  @include l-tablets{
    &-wrap{
      &_phone{
        width: auto !important;
      }
    }

    &_phone{
      width: auto !important;
    }
  }


  &--right {
    margin-left: initial;
    margin-right: 65px;

    @include tablets {
      margin-left: 40px !important;
      margin-right: 0px !important;
    }

    &::before {
      left: auto;
      right: -65px;

      @include tablets {
        left: -40px !important;
        right: 0px;
      }
    }
  }
}
