.two-column {
  &__wrap {
    padding-top: 90px;
    padding-bottom: 90px;

    .call__col {
      margin-top: 40px;
    }

    //Optional modifiers

    &_indent {
      padding-top: 40px;
    }

    &_medium {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &_big {
      padding-top: 100px;
    }

    &_over-size {
      padding-top: 120px;
    }

    &_start-page{
      padding-top: 64px;
    }

    @include tablets {
      padding-top: 0px;
      padding-bottom: 40px;
    }
  }

  &__container {
    &_phone {
      @include tablets {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }

      @include l-tablets {
        flex-direction: column;
      }
    }
  }

  &__two-items {
    @include tablets {
      display: flex;
      flex-direction: column;
    }
  }

  &__textContact {
    color: $c-text;
    font-family: $secondary-font;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.29px;
    line-height: 48px !important;
    max-width: 430px;

    @include medium {
      font-size: 24px !important;
      line-height: 40px !important
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    &.form-col {
      .two-column__col:first-child .img-square {
        display: none;
      }
      .two-column__col:last-child .img-square {
        display: block;
      }
      .two-column__col .img-square--right::before {
        @include tablets {
          bottom: -40px;
        }
      }
    }

    &.noAlignCenter {
      align-items: flex-start;
    }

    &.reverse {
      .two-column__col {
        &:first-child {
          order: 2;
        }

        @include tablets {
          .img-square {
            margin-right: 40px;
            margin-left: 0;
          }
        }
      }
    }
  }

  &__col {
    width: calc(50% - 50px);

    &:first-child {
      padding-top: 65px;

      .img-square {
        display: none;
      }

      @include tablets {
        padding-top: 0px;
      }
    }

    &_form {
      max-width: 477px;
      margin-left: 20px;

      @include tablets {
        max-width: 100%;
        margin-left: 0px;
      }
    }

    &_first {
      margin-top: 50px;

      @include tablets {
        margin-top: 0px;
      }
    }

    &_img-width {
      width: calc(100% - 40% - 80px);
    }

    p {
      margin-bottom: 30px;
      line-height: 32px;

      a {
        color: $c-primary;
        text-decoration: none;

        &:hover {
          color: darken($c-primary, 15%);
        }
      }
    }

    @include tablets {
      width: 100%;

      &:first-child {
        .img-square {
          display: block;
          margin-top: 45px;
          margin-bottom: 80px;
          margin-left: 40px;

          &::before {
            left: 40px;
            bottom: -40px;
          }
        }
      }

      &:last-child {
        .img-square {
          display: none;
        }
      }

      .img-square-wrap {
        margin-left: -$container-gutter;
        margin-right: -$container-gutter;
      }
    }
  }

  &__text {
    &_indent {
      margin-bottom: 15px !important;
    }
  }
}
